src/main/resources/slice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="term">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="matched" use="optional"/>
                    <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="terms">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="term" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="matchType" use="optional"/>
                    <xs:attribute type="xs:string" name="type" use="optional"/>
                    <xs:attribute type="xs:string" name="norm" use="optional"/>
                    <xs:attribute type="xs:byte" name="distance" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="matchTerms">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="terms"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="content">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="name" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="page">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="matchTerms"/>
                <xs:element ref="content"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="n" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="matchTest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="page" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>